@page "/admin-dashboard"

@using KoeretoejsManager.Interfaces
@using KoeretoejsManager.Shared.DTOs
@using KoeretoejsManager.Shared.Enums
@inject IVehicleApiService VehicleApiService

<PageTitle>Admin Dashboard</PageTitle>

<h1>Admin Dashboard</h1>

<EditForm Model="@model" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label>License Plate</label>
        <InputText class="form-control" @bind-Value="model.LicensePlate" /> <!--Limitations? custom licenseplates do exist-->
    </div>

    <div>
        <label>Number of Seats</label>
        <InputNumber class="form-control" @bind-Value="model.NumberOfSeats" />
    </div>

    <div>
        <label>Required License</label>
        <InputSelect class="form-control" @bind-Value="model.RequiredLicense">
            @foreach (var value in Enum.GetValues<DrivingLicenseType>())
            {
                <option value="@value">@value</option>
            }
        </InputSelect>
    </div>

    <div>
        <label>Status</label>
        <InputSelect class="form-control" @bind-Value="model.Status">
            @foreach (var value in Enum.GetValues<VehicleStatusType>())
            {
                <option value="@value">@value</option>
            }
        </InputSelect>
    </div>

    <button class="btn btn-primary" type="submit">
        Create
    </button>

    @if (showSuccessMessage)
    {   
        <p class="success-msg">Vehicle added successfully</p>
        <div class="alert alert-success mt-3">
            Tilføjet @successMessage.LicensePlate - @successMessage.Status - @successMessage.NumberOfSeats - @successMessage.RequiredLicense
        </div>
    }
</EditForm>

@code {
    private CreateVehicleDTO model = new();
    private bool showSuccessMessage = false;
    private VehicleDTO? successMessage = new();

    private async Task HandleValidSubmit()
    {
        var createdVehicle = await VehicleApiService.CreateVehicle(model);
        
        if (createdVehicle != null)
        {
            successMessage = createdVehicle;
            showSuccessMessage = true;
            
        }
        else
        {
            showSuccessMessage = false;
        }
    }

}
